<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  
    Content - JAWS -  HMRC accessibility manual

</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->


  <link rel="stylesheet" type="text/css" href="https://www.tax.service.gov.uk/assets/hmrc-frontend/1.15.3/hmrc-frontend-1.15.3.min.css" />


    
    
    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    

    
  

  

<header role="banner">
  <div class="govuk-header hmrc-header  hmrc-header--with-additional-navigation" data-module="header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype-text">HMRC</span>
          <span class="govuk-header__product-name">Accessibility Manual</span>
        </a>
      </div>
    </div>
  </div>
</header>



    
      <div class="govuk-width-container ">
        
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <header class="hmrc-page-heading">
  <h1 class="govuk-heading-xl">Content</h1><p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>JAWS</p></header>

    </div>
    <div class="govuk-grid-column-two-thirds">

        <p>Something which is often questioned is how screen-readers seem to handle things like long reference numbers and phone numbers.</p>
        <p>Read the following with JAWS to hear how they might sound to a user</p>
        <div class="example">
            <ul class="govuk-list govuk-list--bullet">
                <li>A UTR like 1234567890</li>
                <li>A reference number like 123PX0012345X</li>
                <li>A National Insurance number like QQ123456C</li>
                <li>A telephone number like 01632 960 001</li>
                <li>A currency value like £1500</li>
            </ul>
        </div>
        <p>Screen-reader users are used to how these types of content sound and can change how the screen-reader is reading to accomodate it.</p>

        <h2 class="govuk-heading-l">Navigating content</h2>
        <p>It is possible for JAWS users to move word‐by‐word or character‐by‐character when needed.</p>
        <p>Move to the following sentence.</p>
        <div class="example">
            <p>A UTR like 1234567890</p>
        </div>
        <p>Once on the sentence, use <kbd class="vo">Modifier key</kbd> +  <kbd>right arrow</kbd> to move <strong>word‐by‐word</strong> through the sentence.</p>
        <p>When you reach the number use the <kbd>left/right arrow</kbd> keys by themselves to move <strong>character‐by‐character</strong>.</p>


        <h2 class="govuk-heading-l">A note about acronyms and abbreviations</h2>
        <p>Whilst it might be tempting to use the <code>abbr</code> element along with a <code>title</code> attribute, like in the following example for UTR, to help screen‐readers with these, there are a few issues with this approach.</p>

        <div class="example">
            <p>Do you know your <abbr title="Unique Taxpayer Reference">UTR</abbr> number?</p>
        </div>

        <ul class="govuk-list govuk govuk-list--bullet">
            <li>this does not help other users in explaining the acronym</li>
            <li>the <code>title</code> attribute is not picked up by all assistive technology, including JAWS</li>
            <li>you have to hover with a mouse on the acronym to expose the expansion, which is only helpful for some people</li>
            <li>you need to add additional styling to provide affordance to users that an expansion is available, which adds visual noise</li>
        </ul>

        <p>It is much better to follow the style guide and expand the acronym on first usage so the user is aware of it. Screen‐reader users can then add it to their screen‐reader's vacabulary so they pronounce it correctly.</p>

        <h2 class="govuk-heading-l">Final note</h2>

        <p>In general we recommend you do not make any adjustments for screen‐readers to make content sound different.</p>
        <p>Workarounds which try to force a screen-reader to read in a particular way often have undesirable side‐effects and are not required.</p>

        <a href="/jaws/summary" role="button" class="govuk-button">Next, summary</a>


    </div>

    <div class="govuk-grid-column-one-third sidebar">
        
        
<h2 class="govuk-heading-m">Commands used so far</h2>
<dl class="govuk-body command-list">
    <dt>Stop JAWS talking</dt>
    <dd><kbd>Ctrl</kbd></dd>

    <dt>Move to the top of the page</dt>
    <dd><kbd>Ctrl</kbd> + <kbd>Home</kbd></dd>

    <dt>Move from one item to the next</dt>
    <dd><kbd>Down/up arrows</kbd></dd>

    <dt>Read next/previous sentence</dt>
    <dd><kbd>Alt</kbd> + <kbd>Down/up arrows</kbd></dd>

    <dt>Activate a button or link</dt>
    <dd><kbd>Enter</kbd></dd>



    <dt>Show form controls list dialog</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>F5</kbd></dd>

    <dt>Show headings list dialog</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>F6</kbd></dd>

    <dt>Show links list dialog</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>F7</kbd></dd>

    <dt>Navigate items in a dialog</dt>
    <dd><kbd>Tab</kbd> or <kbd>Arrow keys</kbd></dd>

    <dt>Move to an item in the page you have highlighted in a dialog</dt>
    <dd><kbd>Enter</kbd></dd>

    <dt>Close a dialog</dt>
    <dd><kbd>Escape</kbd></dd>




    <dt>Show landmarks list dialog</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>Ctrl</kbd> + <kbd>r</kbd></dd>

    <dt>Move to the <code>main</code> region</dt>
    <dd><kbd>q</kbd></dd>

    <dt>Navigate by landmark</dt>
    <dd><kbd>r</kbd></dd>



    <dt>Navigate by headings</dt>
    <dd><kbd>h</kbd></dd>



    <dt>Navigate by form fields</dt>
    <dd><kbd>f</kbd></dd>

    <dt>Enter/exit forms mode</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>Space</kbd></dd>




    <dt>Select a radio or checkbox</dt>
    <dd><kbd>Enter</kbd></dd>



    <dt>Navigate by links</dt>
    <dd>Next link <kbd>Tab</kbd></dd>
    <dd>Next unvisited link <kbd>u</kbd></dd>
    <dd>Next visited link <kbd>v</kbd></dd>



    <dt>Navigate a table</dt>
    <dd><kbd>Ctrl</kbd> + <kbd>Alt</kbd> and <kbd>Arrow keys</kbd></dd>

    <dt>Navigate by tables</dt>
    <dd><kbd>t</kbd></dd>



    <dt>Read text word‐by‐word</dt>
    <dd><kbd class="vo">Modifier key</kbd> +  <kbd>right arrow</kbd></dd>

    <dt>Read text character‐by‐character</dt>
    <dd><kbd>left/right arrow</kbd></dd>

</dl>


        
        
<h2 class="govuk-heading-m">Sections</h2>
<ul class="govuk-list hmrc-list-indented">
    <li><a  href="/jaws/">Introduction</a></li>
    <li><a href="/jaws/basic-navigation">Basic navigation</a></li>
    <li><a href="/jaws/dialogs">The listing dialogs</a></li>
    <li><a href="/jaws/landmarks">Landmarks</a></li>
    <li><a href="/jaws/headings">Headings</a></li>
    <li><a href="/jaws/form-fields-text">Form fields</a></li>
    <li><a href="/jaws/form-fields-radio">Grouped form fields</a></li>
    <li><a href="/jaws/hints-and-errors">Hints and errors</a></li>
    <li><a href="/jaws/error-summaries">Error summaries</a></li>
    <li><a href="/jaws/links">Links</a></li>
    <li><a href="/jaws/tables">Tables</a></li>
    <li><a  aria-current="page" href="/jaws/content">Content</a></li>
    
    <li><a href="/jaws/summary">Summary</a></li>
    
</ul>

    </div>
</div>


        </main>
      </div>
    

    
      <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>

    

    
  
    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>


  <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>

  <script src="/extension-assets/hmrc-frontend/hmrc/all.js"></script>

  <script src="/extension-assets/hmrc-frontend/hmrc/init-all.js"></script>


<script src="/public/javascripts/application.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>


    
  
  <!-- GOV.UK Prototype Kit v9.8.0 -->

  </body>
</html>
