<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  
    Basic navigation - Voiceover for Mac -  HMRC accessibility manual

</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->


  <link rel="stylesheet" type="text/css" href="https://www.tax.service.gov.uk/assets/hmrc-frontend/1.15.3/hmrc-frontend-1.15.3.min.css" />


    
    
    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    

    
  

  

<header role="banner">
  <div class="govuk-header hmrc-header  hmrc-header--with-additional-navigation" data-module="header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype-text">HMRC</span>
          <span class="govuk-header__product-name">Accessibility Manual</span>
        </a>
      </div>
    </div>
  </div>
</header>



    
      <div class="govuk-width-container ">
        
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <header class="hmrc-page-heading">
  <h1 class="govuk-heading-xl">Basic navigation</h1><p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>Voiceover for Mac</p></header>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <p>When you arrived at this page, you will have seen a black border laid around the whole page. This lets you know where the Voiceover focus is and it will follow you as you move around the page.</p>

        <h2 class="govuk-heading-l">When a page loads</h2>
        <p>Voiceover reads out the <code>title</code> of the page first which is visible in the browser tab. The page title is very important as it helps users know which tab they are on and if that is the page they want to start exploring.</p>
        <p>Sometimes when a page loads you might find the screen-reader starts reading part-way down the page. This can be down to the screen-reader remembering the last position on a previously visited page (trying to be helpful). However it is worth checking that it is not caused by any local code.</p>
        <div class="govuk-inset-text">
            <p><a href="https://design.tax.service.gov.uk/hmrc-design-patterns/page-title/">Check the first part of the page title and the page heading match</a> when testing a service.</p>
        </div>
        <p>Right now the focus is on the whole page, so we want to move it inside the page so we can start testing.</p>
        <div class="govuk-inset-text">
            <p>From now on you should only use Voiceover to navigate the guide.</p>
            <p>If you need to scroll down the page to read some instructions then feel free to do that until you have learned all the commands.</p>
        </div>

        <h2 class="govuk-heading-l">Moving into a page</h2>
        <p>To start interacting with the page use <kbd class="vo">Control</kbd> + <kbd class="vo">Alt</kbd> + <kbd>shift</kbd> + <kbd>down arrow</kbd>. You will also use this same combination to interact with other groups.</p>
        <p>You should now be on the skip link at the top of the page, which should have become visible as it has focus.</p>

        <h2 class="govuk-heading-l">Focus</h2>
        <p>As you move through a page and encounter focussable elements, you will see that the focus state appears on the element as normal.</p>
        <p>You will notice however that when you move to other elements, paragraphs, labels, heading and the like, the focus state will <strong>remain</strong> on the previous link or input until you encounter another one at which point the focus state will move. This is normal.</p>
        <p>When testing with screen-readers you need to pay attention to the on-screen indicator. In the case of Voiceover that is the black box around the element you are currently on.</p>
        <p>Just be aware that whilst that focus state is active you can still accidentally trigger that element by not using the correct key combinations.</p>

        <h2 class="govuk-heading-l">Moving through a page</h2>
        <p>Rather than clicking the skip link we're going to move through the page.</p>
        <p>To do this you use the standard Voiceover modifier keys of <kbd class="vo">Control</kbd> + <kbd class="vo">Alt</kbd> and either <kbd>right arrow</kbd> to move forward or <kbd>left arrow</kbd> to move backwards</p>
        <p>Use those three keys now to move through the page. You will notice a few things get read out which you might not have come across before. We'll talk about all of these in more detail later.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the black header gets announced as a “banner” and the page content gets announced as a “main”. These are called <strong>landmarks</strong>.</li>
            <li>headings announce what <strong>level</strong> they are</li>
            <li>this list was announced as a list and it said how many items were in it</li>
        </ul>

        <p>Now move to the button below and use <kbd class="vo">Control</kbd> + <kbd class="vo">Alt</kbd> + <kbd>space</kbd> to activate it.</p>

        <a href="/voiceover/rotor" role="button" class="govuk-button">Next, the Rotor</a>
    </div>

    <div class="govuk-grid-column-one-third sidebar">
        <h2 class="govuk-heading-m">Commands used so far</h2>
        <dl class="govuk-body command-list">
            <dt>Start/stop Voiceover</dt>
            <dd><kbd>Command</kbd> + <kbd>F5</kbd></dd>

            <dt>Start interacting with a page or group</dt>
            <dd><kbd class="vo">Control</kbd> + <kbd class="vo">Alt</kbd> + <kbd>shift</kbd> + <kbd>down arrow</kbd></dd>

            <dt>Move from one item to the next</dt>
            <dd><kbd class="vo">Control</kbd> + <kbd class="vo">Alt</kbd> + <kbd>left/right arrows</kbd></dd>

            <dt>Click a button or link</dt>
            <dd><kbd class="vo">Control</kbd> + <kbd class="vo">Alt</kbd> + <kbd>space</kbd></dd>
        </dl>

        
        
<h2 class="govuk-heading-m">Sections</h2>
<ul class="govuk-list hmrc-list-indented">
    <li><a  href="/voiceover/">Introduction</a></li>
    <li><a  aria-current="page" href="/voiceover/basic-navigation">Basic navigation</a></li>
    <li><a href="/voiceover/rotor">The Rotor</a></li>
    <li><a href="/voiceover/landmarks">Landmarks</a></li>
    <li><a href="/voiceover/headings">Headings</a></li>
    <li><a href="/voiceover/form-fields-text">Form fields</a></li>
    <li><a href="/voiceover/form-fields-radio">Grouped form fields</a></li>
    <li><a href="/voiceover/hints-and-errors">Hints and errors</a></li>
    <li><a href="/voiceover/error-summaries">Error summaries</a></li>
    <li><a href="/voiceover/links">Links</a></li>
    <li><a href="/voiceover/tables">Tables</a></li>
    <li><a href="/voiceover/content">Content</a></li>
    
    <li><a href="/voiceover/summary">Summary</a></li>
    
</ul>

    </div>
</div>

        </main>
      </div>
    

    
      <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>

    

    
  
    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>


  <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>

  <script src="/extension-assets/hmrc-frontend/hmrc/all.js"></script>

  <script src="/extension-assets/hmrc-frontend/hmrc/init-all.js"></script>


<script src="/public/javascripts/application.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>


    
  
  <!-- GOV.UK Prototype Kit v9.8.0 -->

  </body>
</html>
