<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  
    Grouped form fields - NVDA -  HMRC accessibility manual

</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->


  <link rel="stylesheet" type="text/css" href="https://www.tax.service.gov.uk/assets/hmrc-frontend/1.15.3/hmrc-frontend-1.15.3.min.css" />


    
    
    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    

    
  

  

<header role="banner">
  <div class="govuk-header hmrc-header  hmrc-header--with-additional-navigation" data-module="header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype-text">HMRC</span>
          <span class="govuk-header__product-name">Accessibility Manual</span>
        </a>
      </div>
    </div>
  </div>
</header>



    
      <div class="govuk-width-container ">
        
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <header class="hmrc-page-heading">
  <h1 class="govuk-heading-xl">Grouped form fields</h1><p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>NVDA</p></header>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <p>The information here applies to any set of inputs grouped by a <code>fieldset</code>, such as radios, checkboxes or date components.</p>
        <p>A <code>fieldset</code> is what is known as a <strong>grouping element</strong> and is announced to NVDA to tell the user the inputs inside are <strong>related</strong>.</p>
        <p>It is important that the group is given an <strong>accessible name</strong> and this function is performed by the <code>legend</code> and is normally the question the group refers to. You'll hear this read out when you reach the group.</p>

        <p>You can select a radio or checkbox by pressing <kbd>enter</kbd> or <kbd>space</kbd>. When you select a radio or checkbox, or move to a selected input, you will hear NVDA announce “checked” (even if it is a radio button).</p>
        <p>If you select the input by hitting <kbd>Enter</kbd> or <kbd>space</kbd> on the <code>label</code> you will enter forms mode. So you will hear a tone to tell you that. Once you are in forms mode, using the <kbd>up/down arrows</kbd> will change your selection. To go back to normal navigation, hit the <kbd>Esc</kbd> key or the form mode keys <kbd class="vo">Modifier</kbd> + <kbd>space</kbd>.</p>

        

        <div class="example">
            





  

  

  

  
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
    Where do you live?
  
  </legend>
  

  <div class="govuk-radios">
    
      
          
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
        England
      </label>
          
        </div>
        
        
      
    
      
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
        Scotland
      </label>
          
        </div>
        
        
      
    
      
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
        Wales
      </label>
          
        </div>
        
        
      
    
      
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
        Northern Ireland
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>

        </div>

        <div class="govuk-inset-text">
            <p>When testing, check each group with a <code>fieldset</code> has a <code>legend</code> with copy inside it.</p>
        </div>


        <a href="/nvda/hints-and-errors" role="button" class="govuk-button">Next, hints and errors</a>

    </div>

    <div class="govuk-grid-column-one-third sidebar">
        
        
<h2 class="govuk-heading-m">Commands used so far</h2>
<dl class="govuk-body command-list">
    <dt>Stop NVDA talking</dt>
    <dd><kbd>Ctrl</kbd></dd>

    <dt>Move to the top of the page</dt>
    <dd><kbd>Ctrl</kbd> + <kbd>Home</kbd></dd>

    <dt>Move from one item to the next</dt>
    <dd><kbd>Down/up arrows</kbd></dd>

    <dt>Read next/previous paragraph</dt>
    <dd><kbd>Ctrl</kbd> + <kbd>Down/up arrows</kbd></dd>

    <dt>Activate a button or link</dt>
    <dd><kbd>Enter</kbd></dd>



    <dt>Show elements list dialog</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>F7</kbd></dd>

    <dt>Navigate items in the dialog</dt>
    <dd><kbd>Tab</kbd> or <kbd>Arrow keys</kbd></dd>

    <dt>Close the dialog</dt>
    <dd><kbd>Escape</kbd></dd>




    <dt>Navigate by landmark</dt>
    <dd><kbd>d</kbd></dd>



    <dt>Navigate by headings</dt>
    <dd><kbd>h</kbd></dd>



    <dt>Navigate by form fields</dt>
    <dd><kbd>f</kbd></dd>

    <dt>Enter/exit forms mode</dt>
    <dd><kbd class="vo">Modifier key</kbd> + <kbd>Space</kbd></dd>




    <dt>Select a radio or checkbox</dt>
    <dd><kbd>Enter</kbd></dd>







</dl>


        
        
<h2 class="govuk-heading-m">Sections</h2>
<ul class="govuk-list hmrc-list-indented">
    <li><a  href="/nvda/">Introduction</a></li>
    <li><a href="/nvda/basic-navigation">Basic navigation</a></li>
    <li><a href="/nvda/dialogs">The listing dialogs</a></li>
    <li><a href="/nvda/landmarks">Landmarks</a></li>
    <li><a href="/nvda/headings">Headings</a></li>
    <li><a href="/nvda/form-fields-text">Form fields</a></li>
    <li><a  aria-current="page" href="/nvda/form-fields-radio">Grouped form fields</a></li>
    <li><a href="/nvda/hints-and-errors">Hints and errors</a></li>
    <li><a href="/nvda/error-summaries">Error summaries</a></li>
    <li><a href="/nvda/links">Links</a></li>
    <li><a href="/nvda/tables">Tables</a></li>
    <li><a href="/nvda/content">Content</a></li>
    
    <li><a href="/nvda/summary">Summary</a></li>
    
</ul>

    </div>
</div>


        </main>
      </div>
    

    
      <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>

    

    
  
    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>


  <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>

  <script src="/extension-assets/hmrc-frontend/hmrc/all.js"></script>

  <script src="/extension-assets/hmrc-frontend/hmrc/init-all.js"></script>


<script src="/public/javascripts/application.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>


    
  
  <!-- GOV.UK Prototype Kit v9.8.0 -->

  </body>
</html>